@mixin center() {
  display:flex;
  align-items:center;
  justify-content: center;
}

.App {
  align-items:center;
  /* border:1px solid red; */
  background:forestgreen;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  max-width:80%;
}

.App .nav {
  align-items:center;
  display:flex;
  justify-content: center;
}

a {
  color:blue;
  margin:4px;
}

a.active {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
